.may-2022 {
  .eventInfo {
    background: linear-gradient(
      180deg,
      #1c6ac0 0%,
      #124a8b 48.44%,
      #082c5a 100%
    );
    margin-top: min(15%, 8rem);
  }

  .eventInfoSubtext {
    font-weight: 500 !important;
  }
}
